---
import Layout from '../layouts/Layout.astro'
import Form from '../components/contact/Form'
---
<Layout title='Contact'>
 <Form client:load/>
 <div class="meme-section">

     <div class="meme-image">
         <img src="/assets/tom.png" alt="tom" />
        </div>
</div>

</Layout>