---
interface Props {
	title: string;
}

const { title } = Astro.props;
import Navbar from '../components/Navbar/Navbar.astro'


---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>{title}</title>
		
	</head>

	<body>
		<main>
			<!-- <Navbar/> -->
			<slot />
		</main>
	</body>
	<script
		is:inline
		src="https://cdn.jsdelivr.net/gh/studio-freight/lenis@latest/bundled/lenis.js"
	></script>
	<script
		is:inline
		src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.5/gsap.min.js"
		integrity="sha512-7eHRwcbYkK4d9g/6tD/mhkf++eoTHwpNM9woBxtPUBWm67zeAfFC+HrdoE2GanKeocly/VxeLvIqwvCdk7qScg=="
		crossorigin="anonymous"
		referrerpolicy="no-referrer"></script>
	<script
		is:inline
		src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.5/ScrollTrigger.min.js"
		integrity="sha512-onMTRKJBKz8M1TnqqDuGBlowlH0ohFzMXYRNebz+yOcc5TQr/zAKsthzhuv0hiyUKEiQEQXEynnXCvNTOk50dg=="
		crossorigin="anonymous"
		referrerpolicy="no-referrer"></script>


       
	<script  src="../scripts/index.js" ></script>
</html>
<style lang="scss" is:global>
	// Supports weights 400-900
@import '@fontsource-variable/playfair-display';
$redpink: #EC7671;
$darkpink: #401714;
$lightred: #FF213A;
$darkgreen: #15392B;
$lightpink: #FFD4F1;
$brown: #380306;
$yellow: #f3c77c;
$violet: #2A0830;
$goldyellow: #FFBC89;
$lightyellow: #FFEA4A;
$coralgreen: #B7E2EF;
$lightblack: #1C1C1C;
$darkred: #A91E31;
$olive: #3C3318;
$gt-font: "GT Walsheim Pro";


* {
    margin: 0;
    font-size: 15px;
}


html.lenis {
    height: auto;
}

.lenis.lenis-smooth {
    scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
    overscroll-behavior: contain;
}

.lenis.lenis-stopped {
    overflow: hidden;
}

.lenis.lenis-scrolling iframe {
    pointer-events: none;
}

@font-face {
    font-family: 'GT Walsheim Pro';
    font-style: normal;
    font-weight: 900;
    font-display: swap;
    src: url('../fonts/GTWalsheimPro-Black.woff2') format('woff2');
}

@font-face {
    font-family: 'GT Walsheim Pro';
    font-style: normal;
    font-weight: bold;
    font-display: swap;
    src: url('../fonts/GTWalsheimPro-Bold.woff2') format('woff2');
}

@font-face {
    font-family: 'GT Walsheim Pro';
    font-style: normal;
    font-weight: normal;
    font-display: swap;
    src: url('../fonts/GTWalsheimPro-CondensedRegular.woff2') format('woff2');
}



.f-gt {
    font-family: $gt-font;
}

.f-pl {
    font-family: 'Playfair Display Variable', serif;
    font-style: italic;
    font-weight: 500 !important;
    text-transform: lowercase !important;
}

.uppercase{
    text-transform: uppercase !important;
}
.lowercase{
    text-transform: lowercase !important;
}

.capitalize{
    text-transform: capitalize !important;
}




// main code


main {
    overflow-x: hidden;
    font-family: $gt-font;
}



//? hero section

.wrapper {
    overflow-x: hidden;

}

* {
    box-sizing: border-box;
}


.container {
    display: flex;
    width: 300vw;
    background: $darkgreen;



    section {
        width: 100vw;
        padding: 10vw 10vw;

        h1 {
            font-size: 3rem;
            margin: 0;
        }

        p {
            font-size: 1.2rem;
            width: 50vw;
        }

        ul {
            list-style-type: none;
            display: flex;
            gap: 3em;
            width: 100%;
            height: 300px;
            padding: 0;

            li {
                background: white;
                border-radius: .3em;
                flex-grow: 1;
            }
        }

    }
}

.pin {

    &:nth-child(1) {
        background-color: $darkred;
        display: flex;
        align-items: center;
        padding-top: 0px;
        padding-bottom: 0px;


        h1  {
            font-size: 10rem;
            font-weight: 900;
            color: $lightpink;
            text-transform: uppercase;

        }
    }

    &:nth-child(2) {
        background-color: $lightblack;
        color: white;

        p, p>* {

            width: 100%;
            font-size: 6rem;
            font-weight: bold;
        }
    }

    &:nth-child(3) {
        background-color: $darkgreen;

        p, p>* {
            color: white;
width: 100%;
font-size: 6rem;
font-weight: bold;
}
    }
}

.empty-section {
    background-color: $darkgreen;
    height: 20vh;
}


//? problems section

.problem-section {
    background-color: $darkpink;
    
}

.spacer {
    width: 100%;
    height: 50vh;
    background: #ddd;
}


.headline {
    background: #2D4E86;
    border-radius: 6px;
    height: 4em;
    width: 100%;
}

.text {
    margin: 0.8em 0 0 0;
    background: #2D4E86;
    border-radius: 6px;
    height: 1em;
    width: 100%;
}




.gallery {
    display: flex;
    outline: 1px solid red;
}

.left {
    width: 50%;
}

.detailsWrapper {
    margin: auto;
    width: 80%;
}

.details {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;

    div {
        display: flex;
        align-items: center;
        border-bottom: 2px solid $lightpink;
        padding-bottom: 4px;
        display: flex;
        justify-content: space-between;
        width: 100%;

        div {
            font-size: 2rem;
            font-weight: bold;
            color: $lightpink;
            border: 0px;
            // background: #000;
            width:20rem;
        }

    }

    &:nth-child(5) {
        div {
            border: none;
            div>*{
                font-size: 3rem;
            font-weight: bold;
            color: $lightpink;
            border: 0px;
            // background: #000;
            width:20rem; 
            }
            
        }
    }
}


.right {
    width: 50%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: $lightpink;


    h1 , h1>*{
        font-size: 4rem;
        margin: 0px 10px;
    }
}

.photos {
    width: 40vw;
    height: 40vw;
    background: maroon;
}


//? brand  section

.brand-section {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;

    h1 {
        span {
            font-size: 4rem;
        }
    }

    div {
        ul {
            list-style: none;
            display: flex;
            justify-content: space-around;
            flex-wrap: wrap;

            div {
                position: relative;

                img {
                    position: absolute;
                    min-width: 100%;
                    height: auto;
                }

            }
        }
    }

}


//? services section

.services-section {
    background-color: $violet;
    padding-bottom: 5rem;
    padding-top: 5rem;
    height: 100vh;
    padding-left:6rem;

    h1 {
        div {
            span {
                color: $goldyellow;
                font-size: 8rem;
                text-transform: uppercase;
                // line-height: 1.5rem;
            }
        }
    }
}

.services-image {
    @extend .services-section;
    display: flex;
    justify-content: center;



    .image-container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 10px;


        div {

            img {
                height: 35rem;
            }
        }
    }
}


// ? cta section


.cta-section {
    background-color: $lightblack;
    height: 120vh;
    

    display: flex;
    flex-direction:column;
    justify-content:center;
    align-items: center;

    h1 {
        div {
            span {
                font-size: 4rem;
                color: $lightpink;
            }
        }
    }

    img {
        object-fit: contain;
        width: 20rem;
        height: 20rem;
    }

    button {
        padding: 10px 12px;
        font-size: 1.5rem;
        background-color: $lightpink;
        border: 0;
        border-radius: 100px;
        color: black;
        font-weight: 600;
        text-transform: uppercase;
        cursor: pointer;
    }
}


//? contact form


.form {
    background-color: $violet;
    color: $goldyellow;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;

    @media screen and (max-width: 640px) {
            padding: 2rem;
            align-items: start;
            
    }
}

.form-header {
    
    h1 {
        font-size: 5rem;
        text-align: center;
    

        span {
            @extend h1;
        }

        @media screen and (max-width: 640px) {
            font-size: 3rem;
            text-align: center;
    
        }
    }


}



textarea{
    background: none;
    border:0px;
    border-bottom: 1px solid $goldyellow;
    color:$goldyellow;
    font-weight: 500;
    &:focus{
        outline: none;
    }
}

.select-input{
    outline: none; /* Removes the default focus outline */
    color: $goldyellow; /* Sets the text color to gold/yellow */
    border-bottom: 1px solid $goldyellow; /* Adds a 1px solid gold/yellow border at the bottom */
    padding: 2px; /* Adds 2px padding */
    border-color: $goldyellow; /* Sets the border color to gold/yellow */
    border-radius: 4px; 
}


.btn {

        padding: 1rem;
        background-color: $goldyellow;
        font-size: 1.2rem;
        font-weight: bold;
        border: 0;
        cursor: pointer;

}

.select-control{
    background-color: transparent;
    color: $goldyellow;
}

.select-menu{
    background-color: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(10px);
    color: $goldyellow;
}

.select-option{
    padding: 1rem;
}

.meme-section{
    background-color: $violet;
    width: 100%;

    display: flex;
    justify-content:center;


    .meme-image{
        position: relative;
        height: 20rem;
        width: 20rem;
        img{
            min-width: 100%;
            height: 100%;
            position: absolute;
        }
    }
}



.modal {
  background-color: $violet;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 20;
  height: 100vh;
  overflow-y: auto;
  width: 100%;
  font-family: $gt-font;
  color:$goldyellow;
}

.modal-content {
  font-family: $gt-font;
  font-weight: 600;
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  justify-content: space-evenly;
  margin: 3rem 5%;
}

/* Media Query for Medium (md) screens and above */
@media screen and (min-width: 768px) {
  .modal-content {
    margin: 3rem 20%;
  }
}


/* Add your additional styles for the labels, inputs, and other elements as needed */

/* Example media query for smaller screens (adjust as needed) */
@media screen and (max-width: 767px) {
  .modal-content {
    margin: 3rem 5%;
  }
}

label{
    display: flex;
    flex-direction: column;

    span{
        display: block;
    }
    input{
        background: none;
        border: 0px;
        border-bottom: 1px solid $goldyellow;
        outline: none;
        color: $goldyellow;
    }
}

/* Media Query for Medium (md) screens and above */
@media screen and (min-width: 768px) {


  label.grid > span {
    font-size: 1.25rem; /* md:text-xl */
  }

  label.grid > input {
    font-size: 1.25rem; /* md:text-xl */
  }
}



/* Styles for the Select component (adjust as needed) */
label.grid.space-y-3 > div.Select {
  position: relative;
  width: 100%;
}

label.grid.space-y-3 > div.Select > div {
  display: flex;
  align-items: center;
}

label.grid.space-y-3 > div.Select > div > div {
  flex: 1;
}

label.grid.space-y-3 > div.Select > div > div input {
  background: transparent;
  color: $goldyellow; /* text-goldyellow */
  border: none;
  outline: none;
  font-size: 1rem; /* text-md */
}

label.grid.space-y-3 > div.Select > div > div input:focus {
  border-bottom: 1px solid $goldyellow; /* border-goldyellow/40 */
}

label.grid.space-y-3 > div.Select > div > div input[disabled] {
  background: transparent;
  color: #9ca3af; /* placeholder:text-white */
}

/* Styles for the dropdown menu (adjust as needed) */
label.grid.space-y-3 > div.Select > div > div.Select-menu-outer {
  background-color: rgba(0, 0, 0, 0.3); /* bg-black/30 */
  backdrop-filter: blur(8px); /* backdrop-blur-lg */
  color: $goldyellow; /* text-goldyellow */
}

label.grid.space-y-3 > div.Select > div > div.Select-option {
  padding: 1rem; /* p-3 */
}

/* Media Query for Medium (md) screens and above */
@media screen and (min-width: 768px) {
  label.grid.space-y-3 {
    grid-template-columns: auto 1fr;
  }
}





</style>