  <section  id="services" class="h-screen flex flex-col items-center justify-center py-6 bg-violet px-10">
        <h1 class="text-goldyellow  px-20 overflow-hidden">
            <div class=" overflow-y-hidden">
                <span class="uppercase anim-text ">You can</span>
            </div>

            <div class="overflow-y-hidden  ">
                <span class="italic-text lowercase mx-5 anim-text">Benefit</span>
                <span class="uppercase anim-text">
                    from
                </span>
            </div>

            <div class="overflow-y-hidden ">
                <span class="uppercase anim-text">
                    our
                </span>
                <span class="italic-text anim-text ">
                    Customize
                </span>
            </div>
            
            <div class="  overflow-y-hidden">
                <span class="uppercase anim-text">
                    Design Services
                </span>
            </div>
        </h1>

    </section >

    <section class="h-screen bg-violet grid place-items-center">
        <div class="flex space-x-6 ">
            <img src="/assets/27.png" class="h-[40rem]"  alt="branding" />
            <img src="/assets/39.png" class="h-[40rem]" alt="Digital Products" />
            <img src="/assets/29.png" class="h-[40rem]"  alt="branding" />
        </div>
    </section>



<style lang="css" scoped>
    @tailwind components;
    @tailwind utilities;

    div>*{
        font-size: 6rem;
    }

  @layer components{
    .italic-text{
    @apply font-playFair italic  mx-3 font-semibold;
  }
  .list{
    @apply relative ml-1;
  }
  .item{
    @apply absolute top-0 left-0 text-pink-700 text-4xl align-middle;
  }

  

  }
</style> 